*{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    /* height: 100vh; */
    justify-content: center;
    background-color: #030712;
    /* height: 100vh; */
}
.container{
    background-color: #030712;
    display: flex;
    width: 70%;
    margin-top: 50px;
}


.control_panel{
    display: flex;
    gap: 10px;
    align-items: center;
    position: sticky;
    top: 0;
}
/* these are the links to other pages */
.control_panel_links{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 10px 20px 30px 20px; 
    align-items: center;
}
.control_panel_links .image img{
    width: 100px;
    height: auto;
    border-radius: 50px;
}
.control_panel_links .image{
    width: fit-content;
    /* border: 1px solid red; */
}
.control_panel_links .links{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-items: flex-start;
    justify-content: flex-start; */
}
.control_panel_links .links ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    text-align: center;
    list-style: none;
}
.control_panel_links .links li{
    width: 100%;
}
.control_panel_links .links a{
    text-decoration: none;
    color: #94A3B8;
    font-size: 24px;
}
/* links a hover */
.control_panel_links .links a:hover{
    color: #eed9d9;
}
/* last child */
.control_panel_links .links li:last-child{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* this is the hr */
.control_panel .cotrol_panel_hr{
    width: 3px;
    height: 80%;
}
.cotrol_panel_hr hr{
    width: 100%;
    border-color: #05FCDE;
    background-color: #05FCDE;
    height: 100%;
}